@use '../abstracts/index' as *;

.header {
  padding-bottom: space(48);
  padding-top: space(48);
}

.header__group {
  max-width: 30rem;
}

.header__heading {
  font-size: 2.3rem;
  line-height: 1.2;
  margin-bottom: space(16);

  @include mq('sm') {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.header__subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: space(4);
  text-transform: uppercase;
}

.header__text {
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 40rem;
}
