@use '../abstracts/index' as *;

.spline-wrapper {
  @include breakout;

  height: 450px;
  position: relative;

  //T. rex fallback image (hidden by default)
  &:before {
    background-image: url(../assets/images/theme/trex-fallback-2.webp);
    background-repeat: no-repeat;
    background-position: bottom 18px left 50%;
    content: '';
    display: block;
    inset: 0 0 0 0;
    opacity: 0;
    position: absolute;
    transition: all ease 0.5s;
  }

  //T. rex fallback image (make visible)
  body:not(.spline-loaded) &,
  .animation-stopped & {
    &:before {
      opacity: 1;
    }
  }
}

spline-viewer {
  cursor: grab;
  height: 100%;
  opacity: 1;
  width: 100%;

  // Hide spline viewer
  .animation-stopped & {
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.5s;
    visibility: hidden;
  }
}
