@use '../abstracts/index' as *;

.tabs {
  padding: space(32) 0 space(48);

  @include mq('sm') {
    padding: space(40) 0 space(80);
  }
}

.tabs__container {
  @include breakout;

  position: relative;

  @include mq('sm') {
    @include breakout-unset;
  }

  &::after {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    content: '';
    display: block;
    inset: 0 0 0 auto;
    pointer-events: none;
    position: absolute;
    width: 25px;
  }
}

.tabs__tablist {
  @include breakout;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: space(8);
  margin-bottom: space(28);
  overflow-x: auto;
  padding: 0 25px;

  /* Smooth scrolling behaviour on mobile */
  -webkit-overflow-scrolling: touch;

  /* Hides the scrollbar on Windows/Linux for a cleaner look */
  scrollbar-width: none;

  @include mq('sm') {
    @include breakout-unset;

    flex-wrap: wrap;
    gap: space(20);
    justify-content: center;
    margin-bottom: space(40);
    padding: space(6);
  }

  /* Hides the scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs__button {
  align-items: center;
  background-color: $clr-white;
  border: 1px solid var(--accent-secondary);
  border-radius: 2rem;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  gap: space(16);
  padding: space(6) space(8) space(6) space(12);
  text-transform: uppercase;
  white-space: nowrap;

  @include mq('sm') {
    font-size: 1.2rem;
    gap: space(20);
    padding: space(12) space(20) space(12) space(24);
  }

  // Check icon container
  &::after {
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid var(--accent-secondary);
    border-radius: 50%;
    content: '';
    display: block;
    height: space(24);
  }

  // Button has visited class
  &.is-visited {
    // Check icon
    &::after {
      background-color: var(--accent-primary);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23ffffff' stroke-linecap='square' stroke-width='3' d='m4.167 10 4.166 4.167 8.334-8.334'/%3E%3C/svg%3E");
      border-color: var(--accent-primary);
    }
  }

  // Selected tab
  &[aria-selected='true'] {
    background-color: var(--accent-primary);
    border-color: var(--accent-primary);
    color: var(--text-color-inverse);

    // Check icon
    &::after {
      background-color: $clr-white;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23ff9500' stroke-linecap='square' stroke-width='3' d='m4.167 10 4.166 4.167 8.334-8.334'/%3E%3C/svg%3E");
      border-color: $clr-white;
    }
  }
}

.tabs__panel {
  margin: 0 auto;
  max-width: 600px;
}

.tabs__heading {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: space(20);
}
