@use '../abstracts/index' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--accent-primary);
  font-weight: 700;
  text-underline-offset: 2px;
}

ul,
ol {
  margin-left: space(24);

  @include mq('sm') {
    margin-left: space(48);
  }
}

li {
  margin-bottom: space(8);
}
