@use '../abstracts/index' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--accent-tertiary);
  font-weight: 700;
  text-underline-offset: 2px;
}

ul,
ol {
  margin-left: space(24);

  @include mq('sm') {
    margin-left: space(48);
  }
}

li {
  margin-bottom: space(8);
}

.button--toggle-animation {
  background-color: transparent;
  background-image: url(../assets/images/theme/icon-stop.svg);
  background-position: left center;
  background-repeat: no-repeat;
  border: 0;
  color: rgba(black, 0.6);
  margin: 10px 0 0 0;
  padding: space(4) space(4) space(4) space(20);

  // When the animation is stopped
  &.is-stopped {
    background-image: url(../assets/images/theme/icon-play.svg);
  }

  // Hide button until Spline model has loaded
  body:not(.spline-loaded) & {
    opacity: 0;
    visibility: hidden;
  }
}
