@use '../abstracts/index' as *;

body {
  @include text-scale(3);

  color: var(--text-color);
}

p,
ul,
ol {
  line-height: 1.5;
  margin-bottom: space(20);

  &:last-child {
    margin-bottom: 0;
  }
}
