@use '../abstracts/index' as *;

.visually-hidden {
  @extend %visually-hidden;
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 25px;
  position: relative;
}

strong {
  font-weight: 700;
}

.u-highlight {
  color: var(--accent-primary);
}

.u-img-inline {
  display: inline;
}

.u-list-plain {
  list-style: none;
}
